@using System.Collections.Generic
@using MVC465
@model List<BlogPost>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post";
}
<h1>Blog Posts</h1>


@*@foreach (BlogPost post in Model)
{
    <div style="font-size: 25px;">
        <a href="@Url.Action("Edit", new { ID = post.ID })"><img src="~/Img/pencil.png" style="width: 25px !important; width: 25px !important;" /></a>
        <a href="@Url.Action("ViewBlog", new { ID = post.ID })"><img src="~/Img/search-engine.png" style="width: 25px !important; width: 25px !important;" /></a>
        @post.Title

        @Html.ActionLink("Edit Post", "Edit", new { ID = post.ID })
        @Html.ActionLink("View Post", "ViewBlog", new { ID = post.ID })
    </div>
}*@
@Html.Partial("_BlogPostLinkList")
