@using MVC465.Models
@model Contact

<div class="container">
    <div class="well form-horizontal" id="contact_form">
        <fieldset>
            <h1>Contact Us</h1>
            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.FirstName)*@
                <label class="col-md-4 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="FirstName" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.LastName)*@
                <label class="col-md-4 control-label">Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="LastName" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.Email)*@
                <label class="col-md-4 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="Email" placeholder="E-Mail Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.PhoneNumber)*@
                <label class="col-md-4 control-label">Phone Number</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="PhoneNumber" placeholder="(222)111-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.Address)*@
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="Address" placeholder="Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.City)*@
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="City" placeholder="City" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.State)*@
                <label class="col-md-4 control-label">State</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <select name="State" class="form-control selectpicker">
                            <option value=" ">Please select your state</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arizona</option>
                            <option>Arkansas</option>
                            <option>California</option>
                            <option>Colorado</option>
                            <option>Connecticut</option>
                            <option>Delaware</option>
                            <option>District of Columbia</option>
                            <option> Florida</option>
                            <option>Georgia</option>
                            <option>Hawaii</option>
                            <option>daho</option>
                            <option>Illinois</option>
                            <option>Indiana</option>
                            <option>Iowa</option>
                            <option> Kansas</option>
                            <option>Kentucky</option>
                            <option>Louisiana</option>
                            <option>Maine</option>
                            <option>Maryland</option>
                            <option> Mass</option>
                            <option>Michigan</option>
                            <option>Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option> Uttah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option>Washington</option>
                            <option>West Virginia</option>
                            <option>Wisconsin</option>
                            <option>Wyoming</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.ZipCode)*@
                <label class="col-md-4 control-label">Zip Code</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input name="ZipCode" placeholder="Zip Code" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.ValidationMessageFor(model => model.Reason)*@
                <label class="col-md-4 control-label">Reason for Contact</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <textarea class="form-control" name="Reason" placeholder="Reason for Contact"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Send <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </div>
</div>



@*<div class="form-group">
    @Html.ValidationMessageFor(m => m.FirstName)
    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
    @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.LastName)
    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
    @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Email)
    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.PhoneNumber)
    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
    @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Address)
    @Html.LabelFor(m => m.Address, new { @class = "control-label" })
    @Html.EditorFor(m => m.Address, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.City)
    @Html.LabelFor(m => m.City, new { @class = "control-label" })
    @Html.EditorFor(m => m.City, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.State)
    @Html.LabelFor(m => m.State, new { @class = "control-label" })
    @Html.EditorFor(m => m.State, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.ZipCode)
    @Html.LabelFor(m => m.ZipCode, new { @class = "control-label" })
    @Html.EditorFor(m => m.ZipCode, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Reason)
    @Html.LabelFor(m => m.Reason, new { @class = "control-label" })
    @Html.EditorFor(m => m.Reason, new { @class = "form-control" })
</div>*@
