@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Css/DefaultStyles.css" rel="stylesheet" />
</head>
<body id="uxMain">
    @RenderSection("header", required: false)
    <header class="uxHeader">
        <nav class="uxSideNavUl">
            <li><a href="@Url.Action("Index", "Home")"><img src="~/Img/houz.png" style="width: 25px !important; width: 25px !important;" /></a></li>
            <li>@Html.ActionLink("About", "Index", "About")</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            @if (User.Identity.IsAuthenticated)
            {
                <div style="color: black; float: right;">Welcome, @User.Identity.Name</div><br />
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="Logout" onclick="document.getElementById('logoutForm').submit(); return false;" style="text-decoration: none; color: black; float: right;">Logout</a>
                }
            }
            else
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
        </nav>
        <div id="uxSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: relative; top: 0; left: 0;">&times;</a>
            <li><a href="@Url.Action("Index", "Home")"><img src="~/Img/houz.png" height="30" width="50" style="width:30px !important;"/></a></li>
            <br /><br />
            <li>@Html.ActionLink("About", "Index", "About")</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            @if (User.Identity.IsAuthenticated)
            {
                <div>Welcome, @User.Identity.Name</div>
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="Logout" onclick="document.getElementById('logoutForm').submit(); return false;" style="text-decoration: none;">Logout</a>
                }
            }
            else
            {
                <div id="uxSideRight">
                    <li style="float: right;">@Html.ActionLink("Login", "Login", "Account")</li>
                </div>
            }
        </div>
        <span onclick="openNav()" class="uxOpen">&#9776;</span>

    </header>
    <div>

        <script>
            function openNav() {
                document.getElementById("uxSidenav").style.width = "250px";
                document.getElementById("uxMain").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("uxSidenav").style.width = "0px";
                document.getElementById("uxMain").style.marginLeft = "0px";
            }
        </script>
    </div>



    @RenderBody()
    @RenderSection("footer", required: false)
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
</body>
</html>
