@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Css/DefaultStyles.css" rel="stylesheet" />
</head>
<body id="uxMain">
    @RenderSection("header", required: false)
    <header class="uxHeader">
        <nav class="uxSideNavUl">
            
            @*<li><img src="~/Img/houz.png" height="50" width="50" />@Html.ActionLink("Home", "Index", "Home")</li>*@
            <li><a href="@Url.Action("Index", "Home")"><img src="~/Img/houz.png" style="width: 25px !important; width: 25px !important;" /></a></li>
            <li>@Html.ActionLink("About", "Index", "About")</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
</nav>
        <div id="uxSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="position: relative; top: 0; left: 0;">&times;</a>
            <li><a href="@Url.Action("Index", "Home")"><img src="~/Img/houz.png" height="30" width="50" style="width:30px !important;"/></a></li>
            <br /><br />
            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
            <li>@Html.ActionLink("About", "Index", "About")</li>
            <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
        </div>
        <span style="font-size: 30px; cursor: pointer; position: relative; top: 0; left: 0;" onclick="openNav()" class="uxOpen">&#9776;</span>

    </header>
    <div>

        <script>
            function openNav() {
                document.getElementById("uxSidenav").style.width = "250px";
                document.getElementById("uxMain").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("uxSidenav").style.width = "0px";
                document.getElementById("uxMain").style.marginLeft = "0px";
            }
        </script>
    </div>



    @RenderBody()
    @RenderSection("footer", required: false)
</body>
</html>
